<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bistu.cs.se.mycalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="计算器"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Calculate.MainActivity"
            android:label="计算器"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calculate.AnotherActivity"
            android:label="单位换算"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculate.Another1Activity"
            android:label="科学计算器"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>